In [ ]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import numpy as np
import pandas as pd

In [7]:
### Load the ANN train model,, scalar pickle,onehot
model=load_model('model.h5')

## Load the encoder and scalar
with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scalar=pickle.load(file)

In [8]:
# Example input data
input_data={
      'CreditScore':600,
      'Geography':'France',
      'Gender':'Male',
      'Age': 40,
      'Tenure':3,
      'Balance': 60000,
      'NumOfProducts': 2,
      'HasCrCard': 1,
      'IsActivateMember': 1,
      'EstimatedSalary': 50000
}

In [10]:
## One-hot encode 'Geography'
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\Lenovo\Desktop\ANN classification\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [11]:
# converting the dataset from key-value pair to DataFrame
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActivateMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [12]:
## Encode categorical variables
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActivateMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [ ]:
# concatenate one-hot encoded 
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)
input_df

In [25]:
## Scaling the input data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(input_df)   # Fit using your input data (not ideal, but works for testing)
input_scaled = scaler.transform(input_df)

In [26]:
# Predict churn
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 371ms/step

array([[0.22763175],
       [0.22763175]], dtype=float32)

In [27]:
prediction_proba= prediction[0][0]

In [28]:
prediction_proba

0.22763175

In [31]:
import tensorflow as tf
print(tf.__version__)

2.15.0

In [29]:
if prediction_proba > 0.5:
    print("The customer is likely to  churn.")
else:
    print("The customer is not  likely to  churn.")

The customer is not  likely to  churn.